.messageBox1 {
	background: #f3f3f3;
	border-radius: 0px 10px 10px 10px;
	color: white;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	flex-direction: column;
	max-width: 60%;
}

.messageBox2 {
	background: #f3f3f3;
	border-radius: 10px 10px 0px 10px;
	color: white;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	flex-direction: column;
	max-width: 60%;
}

.messageText {
	width: 100%;
	letter-spacing: 0;
	float: left;
	font-size: 1em;
	word-wrap: break-word;
	margin-bottom: 12px;
	margin-top: -3px;
}

.messageText img {
	vertical-align: middle;
}

.messageContainer {
	display: flex;
	justify-content: flex-end;
	padding: 0 2%;
	margin-top: 3px;
	margin-bottom: 15px;
}

.sentText {
	display: flex;
	align-items: center;
	font-family: Helvetica;
	color: #828282;
	letter-spacing: 0.3px;
}

.pl-10 {
	padding-left: 10px;
}

.pr-10 {
	padding-right: 10px;
}

.justifyStart {
	justify-content: flex-start;
}

.justifyEnd {
	justify-content: flex-end;
}

.colorDark {
	color: #353535;
}

.backgroundBlue {
	background-image: linear-gradient(45deg, #2af59a71 0%, #2369ff63 100%);
}
.time {
	color: black;
	font-size: 10px;
	margin-top: -10px;
	margin-bottom: -10px;
}
.time1 {
	color: black;
	font-size: 10px;
	margin-top: -10px;
	margin-bottom: -10px;
}
.time1 p {
	margin-top: 10px;
}

.time p {
	margin-top: 10px;
}
