.form {
	display: flex;
	border-top: 1px solid #ffffff;
	align-items: center;
	justify-content: space-between;
}

.input {
	flex: 1;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
}

.sendButton {
	border-radius: 100px;
	width: 14%;
	height: 8vh;
}
.emoji-div {
	margin: 0;
	padding: 0;
	animation: entrance 0.3s linear;
}
.emoji:hover {
	transform: scale(1.1, 1.1);
	transition: all 0.1s ease-in-out;
}
@keyframes entrance {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

.sendButton:hover {
	background: #60c4fd;
	color: black;
}

@media (min-width: 320px) and (max-width: 480px) {
	.input {
		font-size: 1em;
		max-height: 5vh;
	}
}
