@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.infoBar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #2979ff;
	border-radius: 4px 4px 0 0;
	height: 65px;
	width: 100%;
	padding: 5px 0px;
	margin: 0;
}

.leftInnerContainer {
	display: flex;
	align-items: center;
	margin-left: 4%;
	color: white;
}
.group-info {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.rightInnerContainer {
	margin-right: 3%;
	font-family: "Poppins", sans-serif;
}

.onlineIcon {
	width: 50px;
	transform: translateX(-10px);
	background-color: white;
	border-radius: 50px;
	padding: 5px;
}
.room-name {
	font-family: "Montserrat", sans-serif;
	text-transform: capitalize;
}
.room-info {
	font-size: 15px;
	font-family: "Poppins", sans-serif;
}
.close-icon {
	width: 20px;
	margin-right: 5px;
}
@media (min-width: 320px) and (max-width: 480px) {
	.onlineIcon {
		width: 20%;
	}
	.room-name {
		font-size: 15px;
	}
	.room-info {
		font-size: 12px;
	}
	.leftInnerContainer {
		width: 60%;
	}
	.rightInnerContainer a {
		font-size: 12px;
	}
	.close-icon {
		width: 15px;
		margin-right: 3px;
	}
}
