.textContainer {
	color: white;
	width: 35%;
	max-height: 95vh;
}

.activeContainer {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 100%;
}
.members {
	overflow: auto !important;
	max-height: 85vh;
}
.activeItem {
	align-items: center;
	margin-top: 10px;
	margin-right: 20px;
}
.notification {
	background: aliceblue;
	border-radius: 5px;
}
.user:hover {
	background: #2979ff !important;
	color: #fff !important;
}
@media (min-width: 320px) and (max-width: 1200px) {
	.textContainer {
		display: none;
	}
}
